<div class="container mt-4">
  <h2 class="mb-3">Modifier le produit</h2>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div> <br><br>

  <form (ngSubmit)="modifierProduit()" *ngIf="produit">
    <div class="mb-3">
      <label class="form-label">Code Produit</label>
      <input type="text" class="form-control" [(ngModel)]="produit.codeProduit" name="codeProduit" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Nom Produit</label>
      <input type="text" class="form-control" [(ngModel)]="produit.nomProduit" name="nomProduit" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Catégorie</label>
      <input type="text" class="form-control" [(ngModel)]="produit.categorie" name="categorie">
    </div>

    <div class="mb-3">
      <label class="form-label">Quantité en stock</label>
      <input type="number" class="form-control" [(ngModel)]="produit.quantiteStock" name="quantiteStock">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" [(ngModel)]="produit.description" name="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Fournisseur</label>
      <input type="text" class="form-control" [(ngModel)]="produit.fournisseur" name="fournisseur">
    </div>

    <div class="mb-3">
      <label class="form-label">Coût unitaire</label>
      <input type="number" step="0.01" class="form-control" [(ngModel)]="produit.coutUnitaire" name="coutUnitaire">
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
</div>
